@import "abstracts/mixin";
@import "abstracts/functions";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";

// @import "components/";

// @import "layout/";

@import "pages/home";



.main {
  background: $color-orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}